@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #373b69;
  margin: 1rem;
  width: 300px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
}

.movie img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  position: absolute;
  color: #fff;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0,0,0,0.1);
  overflow: auto;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.915);
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over{
  transform: translateY(0%);
}

header {
   background-color: #373b69;
   padding: 1rem;
   justify-content: space-between;
   display: flex;
}

.search {
  border: 2px solid #22254b;
  background-color: transparent;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.search:focus {
  outline: none;
}

.tag {
  background-color: #22254b;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.tag.green {
  color: rgb(28, 207, 28);
}
.tag.yellow {
  color: yellow;
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}

.genreList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genreList li {
  list-style: none;
  margin-right: 1rem;
  margin-top: 0.5rem;
  background-color: #373b69;
  border-radius: 5px;
}

.genreList li:hover {
  filter: brightness(120%);
}

.genreList li a:focus {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

.genreList li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

#title {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
}